:root {
  --purple: #4635b1;
  --light-purple: #b771e5;
  --green: #aeea94;
  --green-sunk: #779e66;
  --red: rgb(230, 45, 45);
  --beige: #fffbca;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
}

.header {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid var(--light-purple);
}

.boards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 450px;
}

h1 {
  font-size: 50px;
  font-family: sans-serif;
  color: var(--beige);
}

.grid1,
.grid2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  width: 400px;
  gap: 2px;
  border: 3px solid var(--light-purple);
}

.grid1 > div,
.grid2 > div {
  border: 1px solid var(--light-purple);
}

.grid2 > div:hover {
  cursor: pointer;
  box-shadow: inset black 5px;
}

.names {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.namePopup {
  display: flex;
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: #0000007c;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shipsPopup {
  display: none;
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  gap: 20px;
  background-color: #0000007c;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shipsPopup > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  gap: 20px;
  background-color: var(--purple);
}

.shipsPopup > div > div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.shipsPopup > div > div > button {
  width: 50%;
}

p {
  font-size: 25px;
  color: var(--beige);
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 40%;
  height: 40%;
  gap: 20px;
  padding: 50px;
  background-color: var(--purple);
  border-radius: 20px;
}

label {
  font-size: 30px;
  font-weight: 600;
  color: var(--beige);
}

input {
  border-radius: 10px;
  border: 2px solid var(--light-purple);
  padding: 10px;
}

form > button,
button {
  width: 20%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--light-purple);
  color: var(--beige);
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: var(--green-sunk);
  cursor: pointer;
}

#placementGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
}

#placementGrid .cell {
  background-color: var(--purple);
  border: 1px solid var(--light-purple);
  cursor: pointer;
}

#placementGrid .cell.hover {
  background-color: var(--green);
}

#placementGrid .cell.placed {
  background-color: var(--green);
}

#winnerPopup {
  display: none;
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: #0000007c;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#winnerPopup > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-color: var(--purple);
  height: 40%;
  width: 40%;
  border-radius: 20px;
}

#winnerPopup > div > button {
  width: 50%;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--beige);
}
